.pad {
    padding: 0 5% 0 5%;
}

.pad-top {
    padding-top: 5%;
}

.bigger {
    font-size: 5em;
}

.big {
    font-size: 3em;
}

.jumbotron {
    background-color: transparent;
}

.dark {
    background-color: #1761a0;
    color: #fff;
}

.pad-bottom {
    padding-bottom: 0.5%;
}

.nav-collapse {
    border: none;
    float: left;
    margin-left: 8%;
    margin-top: 3%;
    background-color: transparent;
}

.hidden {
    opacity: 0;
    transition: all ease 0.5s;
}

.reveal {
    opacity: 1;
    transition: all ease 0.5s;
}

.bg-img {
    background-image: url("../bg-md.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.nav-nice {
    padding-top: 3%;
}

.wid {
    width: 50%;
}

.steps {
    margin-left: 1%;
}

.footer {
    line-height: 80%;
}

.condensed {
    margin-top: 0.05%;
    margin-bottom: 0;
}
